<template>
  <div>
    <label v-if="label">{{label}}</label>
    <select :value="value" v-if="options" @change="updateValue" v-on="$listeners">
      <option v-for="option in options" :key="option" :selected="option === value">{{ option }}</option>
    </select>
  </div>
</template>

<script>
import { formFieldMixin } from '@/mixins/formFieldMixin'
export default {
  mixins: [formFieldMixin],
  inheritAttrs: true,
  props: {
    options: Array
  }
}
</script>
